* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .header {
    margin: 0px;
    background-color: pink;
    color: black;
    padding: 20px;
    text-align: center;
    
  }
  
  .steps {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
  }
  
  .step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(249, 233, 236, 0.873);
    color: rgb(165, 30, 52);
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  
  }
  .step1{
    width: 50px;
    height: 50px;
    color: rgb(165, 30, 52);
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: auto;
   
  }

  
  .dropzone {
    width: 80%;
    height: 250px;
    background-color: rgb(244, 205, 211);
    margin: 20px auto;
    border: 2px dashed rgb(165, 30, 52);
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    cursor: pointer;
  }
  
  .icon {
    width: 40px;
    height: 50px;
    background-size: cover;
  }
  
  .button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(175, 70, 70);
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
  }
  
  .button:hover {
    background-color: rgb(154, 27, 27);
  }
  
  .formats {
    margin: 10px;
    font-size: 14px;
    color: gray;
  }
  .file {
    width: 80%;
    height: 40px;
    margin: 10px auto;
    border: 2px solid green;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .file-name {
    color: black;
    font-weight: bold;
  }
  
  .file-delete {
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-left: 60%;
    margin-right:10% ;
  }